<section class="campo">
    <div class="container-fluid">
        <div  class="form my-auto"> 
            <div class="titulo">
                Seleccione el archivo a subir
            </div> 
            <div>                 
                <button (click)="addFile()">Subir archivo</button>             
                <input style="display: none;" type="file" id="fileUpload" #selectedFile ngModel="fileUpload" (click)="selectedFile.value = null" value="" (change)="handleFileInput($event.target.files)" />      
            </div>
            <div class="texto">Proceso de subida:</div>
            <progress-bar [progress]="fileSize" [color]="'#488aff'"></progress-bar>
        </div>
        <div class="lista">
            <ul *ngFor="let item of files">
                <li>
                    <span>{{item}}</span>
                    <input type="image" src="assets/img/dw.png" (click)="downloadFile(item)">
                    <input type="image" src="assets/img/dl.png" (click)="deleteFile(item)">                                        
                </li>
            </ul>
        </div>
    </div>
</section>



      
      