section.campo{
    height: calc(100vh - 155px);
    background: #2c3758;
    padding: 25px 0;
}
form{
    width: 60%;
    margin: 0px auto;
    padding: 25px 0;
    color: #ffffff;
}
.btn-form{
    background: transparent;
    color: #ffffff;
    border:1px solid #ffffff;
}
.custom-file-input:lang(es) ~ .custom-file-label::after {
	content: "Seleccionar";
}
.archivos{
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    display: block;
    width: 100%;
}
@media(max-width:768px){
    form{
        width: 90%;
    }
}