<section class="campo">
    <div class="container-fluid">
        <form class="my-auto">
            <p>Seleccione el archivo a subir</p>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="file" (change)="onFileChange($event)" required>
                <label class="custom-file-label" for="validatedCustomFile">{{fileName}}</label>                
            </div>
            <p>{{fileName}}</p>
            <progress-bar [progress]="fileSize" [color]="'#488aff'">
            </progress-bar>          
        </form>  
        <div class="archivos">
            Archivos en el contenedor:
        </div>          
        
    </div>
</section>