<div class="jumbotron">
    <h1 class="display-4 text-center">Pozos</h1>
    <hr>
    <div class="row">
        <div class="col-lg-5 col-md-12">
            <h6 class="text-center">Adicionar pozo</h6>
            <app-crear-pozo></app-crear-pozo>
        </div>
        <div class="col-lg-7 col-md-12">
            <h6 class="text-center">Listado de pozos</h6>
            <div class="listado">
                <app-listar-pozo></app-listar-pozo>
            </div>            
        </div>
    </div>
</div>
