<section class="campo">
    <div class="container-fluid">
        <form class="my-auto">
          <div class="form-group">
            <label for="empresa">Empresa</label>
            <input type="text" name="empresa" id="empresa" class="form-control" placeholder="Empresa" aria-describedby="helpId">            
          </div>

          <div class="form-group">
            <label for="bloque">Bloque</label>
            <input type="text" name="bloque" id="Bloque" class="form-control" placeholder="Bloque" aria-describedby="helpId">            
          </div>
          
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Campo</label>
              <input type="text" class="form-control" id="inputEmail4" placeholder="Campo">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Yacimiento</label>
              <input type="text" class="form-control" id="inputPassword4" placeholder="Yacimiento">
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress">Pozo</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Nombre de pozo">
          </div>
          <div class="form-group">
            <label for="inputAddress2">Ubicación</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Ubicación">
          </div>
                        
          <button type="submit" class="btn btn-form">Añadir</button>
          
        </form>
    </div>
    
</section>