.dark-bar{
    background: #222b45;
    color: #ffffff;
}
.dark-bar img{
    max-width: 60px;
}
.dark-bar a{
    color: #ffffff;
}
.dropdown-menu{
    background: #222b45;
}

.dropdown-item:focus, .dropdown-item:hover{
    background: #4964b4;
}
.navbar-text button{
    margin: 0 10px;
}
.navbar-toggler-icon img{
    background: transparent;
    max-width: 40px;
}